<a href="javascript:history.back()">Go back</a>
<a class="new btn btn-info" href="/stylist_new">Add a new Client here</a>
<h1> <%= @client.name.upcase! %> the client </h1>

<div class="container">
  <div class="row">
    <div class="col-xs-2">
      &nbsp
    </div>
    <div class="col-xs-8">
      <%= @client.name()%><br>
    <small>Next appointment: <%= @client.next_appointment %> </small><br>
    <% if @client.stylist_id==0%>
      <% if @stylists.any?()  %>
        <form action="/client/<%= @client.id %>/add_stylist" method="post">
          <input type="hidden" name="_method" value="patch">
          <div class="form-group">
            <label for="stylist_id">Assign a Stylist</label>
            <select name='stylist_id' type='text' class="form-control">
              <% @stylists.each() do |stylist| %>
              <option value="<%= stylist.id()%>"> <%= stylist.name() %> </option>
              <% end %>
            </select>
          </div>
          <button type="submit" class="btn btn-primary"><w>Add Stylist</w></button>
          <br>
        </form>
        <br>

        <%else  %>
        <h4>We currently have no stylists</h4>
      <% end %>
        <%else  %>
      <h4>Already assigned <strong> <%=Stylist.find_by("id",@client.stylist_id).name.upcase %> </strong>as their stylist </h4>
    <% end %>
    </div>
    <div class="col-xs-2">
      &nbsp
    </div>
  </div>
  <form action="/client/<%= @client.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" name="button" class="btn btn-danger pull-right">Delete Client</button>
  </form>

  <a class="new btn btn-info" href="/client/<%=@client.id%>/edit">Edit current Client</a>
</div>
