<a href="javascript:history.back()">Go back</a>
<a class="new btn btn-info" href="/stylist_new">Add a new Client here</a>
<h1> <%= @client.name.upcase! %> the client </h1>

<div class="container">
  <div class="row">
    <div class="col-xs-2">
      &nbsp
    </div>
    <div class="col-xs-8">
      <a href="/clients/<%= @client.id()%>"> <%= @client.name()%></a><br>
    <small>Next appointment: <%= @client.next_appointment %> </small><br>
    </div>
    <div class="col-xs-2">
      &nbsp
    </div>
  </div>
  <form action="/client/<%= @client.id %>/delete" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" name="button" class="btn btn-danger pull-right">Delete Client</button>
  </form>

  <a class="new btn btn-info" href="/stylist/<%=@client.id%>/edit">Edit current Client</a>
</div>
