<a class="new btn btn-info" href="/stylist_new">Add a new Stylist here</a>
<h1>Stylists</h1>

<% if @stylists.any?() %>
  <h3>Here are the existing Stylists:</h3><br>
  <div class="container">
    <div class="row">
      <% @stylists.each() do |stylist| %>
      <div class="col-xs-2">
        &nbsp
      </div>
      <div class="col-xs-8">
        <a href="/stylists/<%= stylist.id()%>"> <%= stylist.name()%></a><br>
      <img src="<%= stylist.image %>"><br>
      <small>Title: <%= stylist.title %>  -   Specialty: <%= stylist.specialty %> </small><br>
      <%= stylist.bio %>
      </div>
      <div class="col-xs-2">
        &nbsp
      </div>
      <% end %>
    </div>
  </div>
<% else %>

    <p>There are no Stylists yet!</p>

<% end %>
